body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ff9a3c;
    color: #155263;
    -webkit-text-stroke: 0.1px #ffc93c;
    border-bottom: 6px solid #ff6f3c;
}

.info {
    background: #ffc93c;
    padding: 15px;
}

.avatar {
    border-radius: 100px;
}

.card:hover {
    background-color: #155263;
}

.card {
    animation-name: spin;
    animation-duration: 10s;
}

@keyframes spin {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(240deg);
    }
    100% {
        tranform: rotate(360deg);
    }
}



/* .first-color { 
blue	background: #155263; 
}
	
.second-color { 
orange	background: #ff6f3c; 
}

.third-color { 
light-orange	background: #ff9a3c; 
}

.fourth-color { 
yellow	background: #ffc93c; 
}

.border-blue {
    border: 1px dotted blue;
} */

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

